gpjax
jax
jaxlib
jaxkern
jaxlinop
jaxtyping
jaxutils
jinja2
flask
markupsafe
git+https://github.com/damogranlabs/classy_blocks.git@7aad805#egg=classy_blocks
ml-collections
matplotlib
numpy
imageio
optax
pre-commit
py
pyfoam
pytest
pyyaml
scipy
toml
toolz
tqdm
typeguard
virtualenv